#!/bin/sh

LINKS=$(ip link show | grep -Po "eth[0-9]*(?=[:@])")

echo "--- Local Route Box IP Addresses ---"

echo $LINKS | while read link; do
echo "IP Address on ${link}: $(ip addr show $link | grep -Po '(?<=inet6?\s).*?(?=\s)')";
done;

echo "--- Defined BGP Neighbors ---"
{%- for neighbor in neighbors %}
echo "Neighbor Address: {{ neighbor.address }}, Neighbor ASN: {{ neighbor.asn }}"
{% endfor %}

echo "--- System Defined Attributes ---"
{%- for attribute in sysAttributes %}
echo "{{ attribute.name }}: {{ attribute.value }}"
{%- endfor %}

echo "--- User Defined Attributes ---"
{%- for attribute in userAttributes %}
echo "{{ attribute.name }}: {{ attribute.value }}"
{%- endfor %}

exec "$@"